<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Detalhe Empresa</title>
    </h:head>
    <ui:decorate template="template.xhtml">
        <ui:define name="centro">
            <h:form>
                <p:panel>
                    <h:panelGrid columns="2">

                        <h:outputText value="Nome"></h:outputText>
                        <h:inputText value="#{detalheEmpresaBean.empresaDetalhes.nome}" disabled="true"></h:inputText>

                        <h:outputText value="Descricao"></h:outputText>
                        <h:inputText  value="#{detalheEmpresaBean.empresaDetalhes.descricao}" disabled="true"></h:inputText>

                        <p:commandButton value="Voltar" actionListener="#{navegacao.irListaEmpresa}"></p:commandButton>
                    </h:panelGrid>
                </p:panel>
            </h:form>
        </ui:define>
    </ui:decorate>
</html>






