<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Formulário filial</title>
    </h:head>
    <ui:decorate template="template.xhtml">
        <ui:define name="centro">
            <h:form>
                <p:panel>
                    <p:growl id="msgs" showDetail="true" />
                    <h:panelGrid columns="2">
                        <h:outputText value="Empresa:"></h:outputText>
                        <h:selectOneMenu value="#{filialBean.filialNovo.empresaIdempresa}" converter="empresaConverter" required="true" requiredMessage="Selecione a empresa" rendered="#{!usuarioBean.detalheUsuario}">
                            <f:selectItems value="#{empresasBean.listaEmpresa}" var="empresa" itemValue="#{empresa}" itemLabel="#{empresa.nome}"></f:selectItems>
                        </h:selectOneMenu>

                        <h:outputText value="Status"></h:outputText>
                        <h:selectOneMenu id="status" value="#{filialBean.filialNovo.status}" required="true" requiredMessage="Status obrigatório" rendered="#{!filialBean.detalhe}"> 
                            <f:selectItem itemValue = "1" itemLabel = "Ativo" /> 
                            <f:selectItem itemValue = "0" itemLabel = "Inativo" />
                        </h:selectOneMenu> 
                        <h:inputText value="#{filialBean.identificarPerfil(filialBean.filialNovo)}" disabled="true" rendered="#{filialBean.detalhe}"></h:inputText>


                        <h:outputText value="Valor:"></h:outputText>
                        <p:inputText value="#{filialBean.filialNovo.valor}" required="true" requiredMessage="Campo valor é obrigatório" rendered="#{!filialBean.detalhe}"></p:inputText>
                        <h:inputText value="#{filialBean.filialNovo.valor}" disabled="true" rendered="#{filialBean.detalhe}"></h:inputText>


                        <h:outputText value="Endereço:"></h:outputText>
                        <p:inputText  value="#{filialBean.filialNovo.endereco}" required="true" requiredMessage="Campo endereço é obrigatório" rendered="#{!filialBean.detalhe}"></p:inputText>
                        <h:inputText value="#{filialBean.filialNovo.endereco}" disabled="true" rendered="#{filialBean.detalhe}"></h:inputText>

                        <p:commandButton value="Gravar" actionListener="#{filialBean.salvarFilial()}" rendered="#{!filialBean.detalhe}"></p:commandButton>
                        <!--                    <p:commandButton value="Voltar" actionListener="" icon="ui-icon-arrowreturnthick-1-w" process="@this"></p:commandButton>-->
                    </h:panelGrid>
                </p:panel>
            </h:form>
        </ui:define>
    </ui:decorate>
</html>






