<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:b="http://bootsfaces.net/ui">
    <h:head>
        <title>Formulário reserva</title>
    </h:head>
    <ui:decorate template="template.xhtml">
        <ui:define name="centro">
            <h:form>
                <p:panel>
                    <p:growl id="msgs" showDetail="true" />
                    <h:panelGrid columns="2">
                        <h:outputText value="Filial:"></h:outputText>
                        <h:selectOneMenu value="#{reservaBean.reservaNovo.filialIdfilial}" converter="filialConverter" required="true" requiredMessage="Selecione a filial" rendered="#{!reservaBean.detalhe}">
                            <f:selectItems value="#{filiaisBean.listaFilial}" var="filial" itemValue="#{filial}" itemLabel="#{filial.descricao}"></f:selectItems>
                        </h:selectOneMenu>

                        <h:outputText value="Status"></h:outputText>
                        <h:selectOneMenu id="status" value="#{reservaBean.reservaNovo.status}" required="true" requiredMessage="Status obrigatório" rendered="#{!reservaBean.detalhe}"> 
                            <f:selectItem itemValue = "2" itemLabel = "Pendente" /> 
                            <f:selectItem itemValue = "1" itemLabel = "Concluido" />
                            <f:selectItem itemValue = "0" itemLabel = "Cancelado" />
                        </h:selectOneMenu> 
                        <h:inputText value="#{filialBean.identificarPerfil(filialBean.filialNovo)}" disabled="true" rendered="#{reservaBean.detalhe}"></h:inputText>


                        <h:outputText value="Data:"></h:outputText>
                        <b:dateTimePicker value="#{reservaBean.reservaNovo.data}" required="true" requiredMessage="Campo valor é obrigatório" rendered="#{!reservaBean.detalhe}"></b:dateTimePicker>
                        <h:inputText value="#{reservaBean.reservaNovo.data}" disabled="true" rendered="#{reservaBean.detalhe}"></h:inputText>


                        <h:outputText value="Endereço:"></h:outputText>
                        <p:inputText  value="#{reservaBean.reservaNovo.usuarioIdusuario}" required="true" requiredMessage="Campo endereço é obrigatório" rendered="#{!reservaBean.detalhe}"></p:inputText>
                        <h:inputText value="#{filialBean.filialNovo.endereco}" disabled="true" rendered="#{reservaBean.detalhe}"></h:inputText>

                        <p:commandButton value="Gravar" actionListener="#{filialBean.salvarFilial()}" rendered="#{!reservaBean.detalhe}"></p:commandButton>
                        <!--                    <p:commandButton value="Voltar" actionListener="" icon="ui-icon-arrowreturnthick-1-w" process="@this"></p:commandButton>-->
                    </h:panelGrid>
                </p:panel>
            </h:form>
        </ui:define>
    </ui:decorate>
</html>






