<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Página inicial</title>
    </h:head> 
        <ui:decorate template="template.xhtml">
            <ui:define name="centro">
                
                <h:form>
                    <h:outputText value="Bem vindo #{navegacao.resultid()}" rendered="#{navegacao.resultid() != null}"></h:outputText>     
                </h:form>          
            </ui:define>
        </ui:decorate>
</html>





