<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Lista Usuários</title>
    </h:head>
    <ui:decorate template="template.xhtml">
        <ui:define name="centro">
            <h:form id="lista" style="text-align: center;">
                <p:growl id="msgs" showDetail="true" />
                <p:dataTable id="tabela"  value="#{usuariosBean.listaUsuarios}" var="usuario" style="margin-bottom: 10px;" >
                    <p:column headerText="Nome" >                  
                        <h:outputText value="#{usuario.nome}"></h:outputText>               
                    </p:column>
                    <p:column headerText="Email">                     
                        <h:outputText value="#{usuario.email}"></h:outputText>                    
                    </p:column>
                    <p:column headerText="Username">                
                        <h:outputText value="#{usuario.usuario}"></h:outputText>                    
                    </p:column>
                    <p:column headerText="Senha">                   
                        <h:outputText value="#{usuario.senha}"></h:outputText>                    
                    </p:column>  
                    <p:column headerText="Perfil">                   
                        <h:outputText value="#{usuariosBean.identificarUsuario(usuario)}"></h:outputText>                    
                    </p:column>  
                    <p:column headerText="Ação" >                   
                        <p:commandButton icon="ui-icon-search" actionListener="#{usuariosBean.verDetalhes(usuario)}"></p:commandButton>                                     
                        <p:commandButton icon="ui-icon-trash" actionListener="#{usuariosBean.excluirUsuario(usuario)}" onclick="return confirm('Deseja fazer a Exclusão ?');
                            return false" update=":lista" ajax="true"  ></p:commandButton>                          
                        <p:commandButton icon="ui-icon-pencil"  actionListener="#{usuariosBean.editarUsuario(usuario)}"></p:commandButton>
                    </p:column>
                </p:dataTable>
                <p:commandButton value="Voltar" actionListener="#{navegacao.irIndex()}"></p:commandButton>             
            </h:form>
        </ui:define>
    </ui:decorate>
</html>


