<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Login</title>
    </h:head>
    <h:body>
        <h:form style="text-align: center">
            <p:panel header="Login">
                <p:growl id="msgs" showDetail="true" />
                <h:panelGrid columns="2">
                    <h:outputText value="User:"></h:outputText>
                    <p:inputText value="#{usuarioBean.usuarioNovo.usuario}" required="true" requiredMessage="Campo user é obrigatório" ></p:inputText>

                    <h:outputText value="Senha"></h:outputText>
                    <p:password  value="#{usuarioBean.usuarioNovo.senha}" required="true" requiredMessage="Campo senha é obrigatório" ></p:password>

                    <p:commandButton value="Logar" action="#{usuarioBean.logarUsuario()}" ></p:commandButton>
                </h:panelGrid>
            </p:panel>
        </h:form>
    </h:body>
</html>

