<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:fragment xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
xmlns:h="http://xmlns.jcp.org/jsf/html"
             xmlns:p="http://primefaces.org/ui">

    <ui:insert name="menu">
        <h:form>
            <p:menu >
                <p:submenu label="Menu Usuario"> 
                    <p:menuitem  value="Lista" action="#{navegacao.irListaUsuario()}"></p:menuitem>
                    <p:menuitem  value="Cadastro" action="#{navegacao.irUsuario()}"></p:menuitem>                      
                    <p:menuitem  value="Reserva" action="#"></p:menuitem>

                </p:submenu>
                <p:submenu label="Menu Empresa"> 

                    <p:menuitem  value="Lista" action="#{navegacao.irListaEmpresa()}"></p:menuitem>
                    <p:menuitem  value="Cadastro" action="#{navegacao.irEmpresa()}"></p:menuitem>                      
                    <p:menuitem  value="Filial" action="#{navegacao.irFilial()}"></p:menuitem>
                </p:submenu>
            </p:menu>
        </h:form>
    </ui:insert>


</ui:fragment>
