<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Hair Finder</title>
        <style type="text/css">
            body {background-color: #eeeeee; font-size: 12px;
                  background-image: url("back_salao.png");
                  background-repeat: repeat;
            }
        </style> 
    </h:head>
    <h:body >
        <div align="center">
            <p:layout style="min-width:1220px;max-width:1220px;min-height:600px;text-align: center;">  
                <p:layoutUnit position="north" size="100" style="background-color:#FFE4E1" > 
                    <div style="background-color:#FFE4E1">
                        <h1 >Hair Finder</h1>
                        <h2>Reserva de horários em salões de beleza</h2>
                    </div>
                </p:layoutUnit>  
                <p:layoutUnit position="west" size="220">  
                    <ui:insert name="menu">
                        <h:form>
                            <p:menu style="width: 200px">
                                <p:submenu label="Menu Usuario"> 
                                    <p:menuitem  value="Lista" action="#{navegacao.irListaUsuario()}"></p:menuitem>
                                    <p:menuitem  value="Cadastro" action="#{navegacao.irUsuario()}"></p:menuitem>                      
                                    <p:menuitem  value="Reserva" action="#"></p:menuitem>

                                </p:submenu>
                                <p:submenu label="Menu Empresa"> 

                                    <p:menuitem  value="Lista" action="#{navegacao.irListaEmpresa()}"></p:menuitem>
                                    <p:menuitem  value="Cadastro" action="#{navegacao.irEmpresa()}"></p:menuitem>                      
                                    <p:menuitem  value="Filial" action="#{navegacao.irFilial()}"></p:menuitem>
                                </p:submenu>
                            </p:menu>
                        </h:form>
                    </ui:insert>
                </p:layoutUnit>  
                <p:layoutUnit position="center">  
                    <ui:insert name="centro">

                    </ui:insert>
                </p:layoutUnit>  
            </p:layout>  
        </div>
    </h:body>
</html>